header {
    background-color: $background-principal;
    width: 100%;
    height: 100%;

    nav {
        .container-fluid {
            background-color: $background-principal;

            div {
                ul {
                    li {
                        a {
                            text-align: center;
                            text-decoration: none;
                            color: $color-letter;
                            font-family: $font-principal;
                            font-size: 1.6rem;
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}