.main-contacto{
    width: 100%;
    height: 100%;
    form{
        padding-bottom: 5rem;
        .fieldset{
            height: 100%;
            @include flex(column, none, none, center, none);
            legend{
                @include titulos();
                padding-left: 5rem;
                padding-right: 5rem;
            }
            .contacto{
                text-align: center;
                border-radius: 1rem;
                border: solid 0.3rem #21bbb3;
                margin: 4rem;
                label{
                    color: white;
                    font-size: 1.6rem;
                    font-family: $font-principal;
                    padding: 1rem;
                    input{
                        font-size: 1.6rem;
                        font-family: $font-principal;
                        padding: 0.5rem;
                        color: white;
                        background: none;
                        border: none;
                    }
                }
            }
        }
        
    }
}
.input{
    text-align: center;
    .submit{
        font-family: $font-principal;
        font-size: 2rem;
        color: white;
        // background-color: #21bbb300;
        // border: none;
        padding: 1rem;
        margin: 4rem;
        background-color: #21bbb3;
                border: solid 0.3rem #21bbb3;
                border-radius: 3rem;
        // &:hover{
        //         background-color: #21bbb3;
        //         border-radius: 3rem;
        //     }
}
}