@media (min-width: 1440px){
    .main-index{
        section{
            p{
                width: 60rem;
                font-size: 2rem;
            }
            img{
                width: 60rem;
            }
        }
    }

    .card{
        width: 25.5rem;
        height: 35rem;
        img{
            width: 21rem;
            margin-bottom: 2rem;
        }
        div{
            h3{
                font-size: 1.6rem;
            }
            a{
                img{
                    width: 4rem;
                    padding-top: 2rem;
                }
            }
        }
    }
}