@media (min-width: 425px) {
    header {
        nav {
            ul {
                @include gap(none, none, 2.5rem);
            }
        }
    }

    .main-index {
        section {
            @include grid(repeat(1, 1fr), 20rem 35rem 1fr, none, none, center, center, none);

            h1 {
                font-size: 5rem;
            }

            p {
                width: 35rem;
            }

            img {
                width: 35rem;
            }
        }
    }

    .main-eventos {
        section {
            div {
                h1 {
                    font-size: 5rem;
                }
            }
        }
    }

    .main-galeria {
        section {
            h1 {
                font-size: 5rem;
            }
        }
    }

    .section-videos {
        h2 {
            font-size: 5rem;
        }
    }

    .section-tikets {
        div {
            ul {
                width: 37rem;
                height: 15.5rem;

                li {
                    font-size: 1.6rem;
                    margin-bottom: 3.5rem;
                }
            }
        }
    }

    .main-musica {
        h1 {
            font-size: 5rem;
        }
    }

    .card {
        div {
            a {
                img {
                    width: 5.5rem;
                    padding-top: 1rem;
                    padding-left: 2rem;
                }
            }
        }
    }

    .main-contacto {
        form {
            .fieldset {
                fieldset {
                    legend {
                        font-size: 5rem;
                    }
                }
            }
        }
    }

    .main-404 {
        h1 {
            font-size: 12rem;
            margin-bottom: 2rem;
        }

        img {
            width: 12rem;
        }

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2rem;
        }
    }
}