@media (min-width: 768px) {
    header {
        @include flex(row, wrap, space-between, center, none);

        div{
            margin-left: 1rem
        }
        nav {
            ul {
                @include gap(none, none, 2rem);
                padding: 0%;
                margin-right: 3rem;
                li{
                    a{
                        font-size: 1.6rem
                    }
                }
            }
        }
    }

    .main-index {
        section {
            @include grid(repeat(1, 1fr), 15rem 1fr 1fr, none, none, center, center, none);

            p {
                width: 60rem;
                font-size: 2rem;
            }

            img {
                width: 60rem;
            }
        }
    }

    .section-tikets {
        div {
            ul {
                width: 58rem;

                li {
                    font-size: 1.8rem;
                    margin-top: 1rem;
                    margin-bottom: 4.5rem;
                }
            }
        }
    }

    .card {
        width: 20.5rem;
        height: 28rem;
        padding: 2rem;
        margin-bottom: 3rem;

        img {
            width: 16rem;
            margin: 0%;
        }
        div{
            margin-top: 0.5rem;
            h3{
                font-size: 1.4rem;
            }
            a{
            img{
                width: 4rem;
                padding-top: 2.5rem;
                padding-left: 1rem;
            }
        }
        }
    }

    footer{
        @include flex(row, wrap, space-between, center, none);
        div{
            margin-left: 3rem;
        }
        .iconos{
            margin-right: 3rem;
        }
    }
}