@media (min-width: 1440px){
    .main-index{
        height: 90rem;
        section{
            p{
                width: 60rem;
                font-size: 2rem;
            }
            img{
                width: 60rem;
            }
        }
    }

    .card{
        width: 24rem;
        height: 34rem;
        padding: 2rem;
        img{
            width: 19.5rem;
            margin-bottom: 2rem;
        }
        div{
            h3{
                font-variant: normal;
                font-size: 1.6rem;
            }
            a{
                img{
                    width: 4rem;
                    padding-top: 2rem;
                }
            }
        }
    }

    .main-contacto{
        height: 90rem;
    }
}